.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: #2ecc71;
  font-weight: bold;
  border-bottom: 2px solid #2ecc71;
}

.navigation {
  display: flex;
  gap: 100px;
  font-size: 25px;
}
