.popularMoviesContainer {
  margin: 30px;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}
